{% extends 'topics/base.html' %}

{% block title %}Delete {{ topic.title }}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h1>Delete Topic</h1>
        
        <p class="lead">Are you sure you want to delete "{{ topic.title }}"?</p>
        
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirm Delete</button>
            <a href="{% url 'topic-detail' topic.pk %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
